.blocSelectReset{
    text-align: center;
    margin: 30px;
    min-width: 1000px;
}

.listeArticles{
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 30px;
}


#select{
    margin-right: 20px;
}

@media screen and (max-width:1500px){
    .blocSelectReset{
        min-width: 200px;
    }
}