       
.panier-container{
    min-width: 300px;
    max-width: 90%;
    background-color: rgb(107, 152, 40);
    margin: 20px;
    border-radius: .5rem;
    text-align: center;
    padding: 10px;
    color: honeydew;
    font-weight: bold;
}

h1{
    text-decoration: underline;
}

@media screen and (max-width:600px){
    .panier-container{
        margin: 10px;
        min-width: 10px;
    }
}

